.wrapper {
    display: flex;
    justify-content: center;
}
.signForm {
    width: 23%;
    border: 1px solid black;
    margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
    padding: 10px;
}
input{
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper div {
    padding-top: 3px;
    padding-bottom: 8px;
}
.title {
    text-align: center;
    font-weight: 700;
}
.userid input {
    width: 100%;
}
.userSub {
    display: flex;
}
.userid button {
    height: 20px;
}
.username input {
    width: 100%;
}
.password input {
    width: 100%;
}
.passwordCheck input {
    width: 100%;
}
.sign button {
    width: 100%;
    height: 30px;
    cursor:pointer;
    background-color:yellow;
}
.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}