<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<ul class="menu">
    <li>
        <a href="/boxoffice/viewBoxOffice">박스오피스</a>
    </li>
    <li>
        <a href="/movie/searchMovie">영화 검색</a>
    </li>
    <li>
        <a href="#">MENU3</a>
    </li>
    <li>
        <a href="#">MENU4</a>
    </li>
    <li>
        <a href="#">MENU5</a>
    </li>
</ul>
</body>
</html>