<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="item" th:text="${movie.movieNm}"></div>
    <img id="imgId" th:src="${movie.image}"/>
    <div class="item" th:text="${movie.openDt}"></div>
    <div class="item" th:text="${movie.genreNm}"></div>
    <div class="item" th:text="${movie.directors}"></div>
    <div class="item" th:text="${movie.actors}"></div>

    <form th:action="@{/write}"  th:object="${movie}" method="post" >
        <div class="starpoint_wrap">
            <div class="starpoint_box">
                <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
                <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
                <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
                <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
                <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_1" class="star_radio" value="0.5">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_2" class="star_radio" value="1.0">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_3" class="star_radio" value="1.5">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_4" class="star_radio" value="2.0">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_5" class="star_radio" value="2.5">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_6" class="star_radio" value="3.0">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_7" class="star_radio" value="3.5">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_8" class="star_radio" value="4.0">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_9" class="star_radio" value="4.5">
                <input type="radio" th:field="*{rate}" name="starpoint" id="starpoint_10" class="star_radio" value="5.0">
                <span class="starpoint_bg"></span>
            </div>
        </div>
        <button type="submit">등록</button>
    </form>

    <div>
    <textarea class="col-auto form-control" type="text" id="reviewContents"
              placeholder="감상평을 남겨주시면 Cocolo에 큰 힘이 됩니다!"></textarea>
    </div>
</body>
</html>