<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Info</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">박스오피스</a>
            <a class="navbar-brand" href="/movie/searchMovie">영화 검색</a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="item" th:text="${movie.movieNm}"></div>
    <img id="imgId" th:src="${movie.image}" height="230" width="160"/>
    <div class="item" th:text="${movie.openDt}"></div>
    <div class="item" th:text="${movie.genreNm}"></div>
    <div class="item" th:text="${movie.directors}"></div>
    <div class="item" th:text="${movie.actors}"></div>
    <div class="item" th:text="${movie.rate}"></div>

    <form th:action="@{/review/registerReview}" method="post">
        <div class="starpoint_wrap">
            <div class="starpoint_box">
                <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
                <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
                <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
                <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
                <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_1" class="star_radio" value="0.5"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_2" class="star_radio" value="1.0"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_3" class="star_radio" value="1.5"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_4" class="star_radio" value="2.0"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_5" class="star_radio" value="2.5"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_6" class="star_radio" value="3.0"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_7" class="star_radio" value="3.5"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_8" class="star_radio" value="4.0"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_9" class="star_radio" value="4.5"/>
                <input type="radio" th:field="${review.rate}" name="starpoint" id="starpoint_10" class="star_radio" value="5.0"/>
                <span class="starpoint_bg"></span>
            </div>
        </div>
        <div>
            <textarea name="content" id="content" cols="30" rows="10" th:text="${review.content}" placeholder="내용"></textarea>
            <input type="hidden" id="movieCd" name="movieCd" th:value="${movie.movieCd}"/>
            <button type="submit">등록</button>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>